// Layout
$max-width: 756px;

// Color
$primary: #FF7A00;
$secondary: #FFFCF5;
$tertiary: #554332;
$white: #fff;
$error: #FF2400;

// Font
$font-gmarket : 'GmarketSans';
$font-pretendard : 'Pretendard';

// Font Sizes
$font-size-xs: 0.75rem;   // 12px
$font-size-sm: 0.875rem;  // 14px
$font-size-base: 1rem;    // 16px
$font-size-md: 1.125rem;  // 18px
$font-size-lg: 1.25rem;   // 20px
$font-size-xl: 1.5rem;    // 24px
$font-size-xxl: 2rem;     //32px

// Gray scale
$gray-50: #f8f8f8;
$gray-100: #dddddd;
$gray-200: #D9D9D9;

// text color
$text-strong: #111111;
$text-default: #333333;
$text-sub: #777777;
$text-secondary: #555555;
$text-tertiary: #888888;
$text-placeholder: #C8C8C8;
$phone-placeholder: #E3E1DF;
$text-sale: #D50426;

// bg color
$gray-bg: #eeeeee;
$light-gray-bg: #f5f5f5;
$label-bg: #EFEDE9;
$input-bg: #F5F7FB;

