@import "@/styles/variables";
.signupStep{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 100px);

  &.noHeader{
    min-height: 100vh;
  }

  &__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 320px;
    margin: 0 auto;

    &__title{
      margin-bottom: 56px;
      line-height: 1.3;
      text-align: center;
      font-size: $font-size-lg;
      color: $primary;
    }
    &__errortitle{
      margin-bottom: 56px;
      line-height: 1.3;
      text-align: center;
      font-size: $font-size-lg;
      color: $error;
    }
    .phoneInputWrap{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      padding: 0 4px;

      &__country{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 9px;
        font-size: $font-size-xl;
        font-weight: bold;
        background-color: $label-bg;
        border-radius: 8px;
      }
    }

    .codeInputWrap{
      .visualBoxes{
        display: flex;
        gap: 8px;

        .digitBox{
          width: 45px;
          height: 56px;
          line-height: 2;
          text-align: center;
          border-radius: 10px;
          background-color: rgba($primary , .5);
          font-size: $font-size-xxl;
          font-weight: bold;
          color: $white;

          &.filled{
            background-color: $primary;
          }
        }

      }
    }
    .nicknameWrap{

      .inputError{
        color: $error;
      }
    }
    .btnWrap{
      width: 100%;
      padding-top: 30px;

      &.stepBtn{
        padding-top: 50px;
      }
    }
  }

  &__bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;

    &__desc{
      text-align: center;
      font-size: $font-size-xs;
      color: $text-tertiary;

      .underline{
        text-decoration: underline;
      }
    }
  }
}