@import "@/styles/variables";
.inputWrapper{
  width: 100%;
  .input{
    width: 100%;
    border: none;
  }

  .phone{
    font-size: $font-size-xxxl;
    font-weight: bold;
    caret-color: $primary;

    &:focus{
      outline: none;
    }

    &::placeholder{
      color: $phone-placeholder;
    }
  }

  .authCode{
    width: initial;
  }

  .signupInput{
    text-align: center;
    font-size: $font-size-xxxl;
    font-weight: bold;
    caret-color: transparent;

    &:focus{
      outline: none;
    }

    &::placeholder{
      color: $phone-placeholder;
    }
  }

}